$primary: #5F9547;
$secondary: #CBA041;

$black: #22505d;
$grey: #bdc3c7;

$cloud: #ecf0f1;
$danger: #e74c3c;

$white: #ffffff;

$blue: #3a5998;


$color1: #5F9547;
$color2: #707070;
$color3: #CBA041;