<mat-card>
  <p>NUMBER OF COMPLETED APPLICATIONS</p>
  <p>This is where you can view the number of completed applications submitted. The diagram shows how close you are to your pre-defined target as well as a % trend from previous measurements.</p>
    <div class="container">
        <div id="power-gauge"></div>
        <!-- &#x2B07; => Down arrow code-->
        <div class="centered"><span style="font-size: 50px;">{{applications}}</span><br/> <a style="color: #84A59D;" class="arrows-element">&#x2B06; 2%</a></div>
        <div class="bottom-left">0</div>
    
      <div class="bottom-right">500</div>
      </div>
    </mat-card>