.container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .centered {
    position: absolute;
    top: 54%;
    left: 44%;
    transform: translate(-50%, -50%);
  }
  /* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 110px;
    left: 17px;
  }
  /* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 108px;
    left: 17px;
  }
  mat-card-header{
    text-align: right;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  .mat-card {
   // margin-right: 1rem;
    border-radius: 20px;
    height: 430px !important;
    // width: 40%;
    text-align:center;
    // margin: 0 auto;
}
mat-card-title{
  color: #5F9547;
  font: normal normal normal 20px/24px Montserrat;
  opacity: 1;
  letter-spacing: 0px;
  text-align: left;
  font-size: 15px;
}
.txt-paragraph{
  text-align: left;
font: normal normal normal 12px/15px Montserrat;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}
.arrows-element {
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.dropdown-menu {
  min-width: 30px !important;
  height: 40px !important;
}
@media only screen and (min-width: 960px) {
  .bottom-left {
    position: absolute;
    bottom: 110px;
    left: 17px;
  }
  /* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 110px;
    right: -260px;
  }
}
.dashboard-card-content {
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

//   .centered {
//     position: absolute;
//     top: 47%;
//     left: 40%;
//     transform: translate(-50%, -50%);
//   }
//   /* Bottom left text */
// .bottom-left {
//     position: absolute;
//     bottom: 133px;
//     left: 75px;
//   }
//   /* Bottom right text */
// .bottom-right {
//     position: absolute;
//     bottom: 133px;
//     right: 138px;
//   }
@media only screen and (min-width: 768px) and (max-width: 959px) {
    
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    
}
