<mat-card>
  <div id="content" #content>

  <span class="date">As at 15/12/2021, 1:03PM</span>
  <div class="dropdown" id="dropdown">
    <mat-card-header role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">...</mat-card-header>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" (click)="captureScreen();"><i class="fas fa-download"></i></a></li>
    </ul>
  </div>
  <br/><br/>
  <div id="capture">
    <mat-card-title>NUMBER OF COMPLETED APPLICATIONS</mat-card-title>
    <p class="txt-paragraph">This is where you can view the number of completed applications submitted. The diagram shows how close you are to your pre-defined target as well as a % trend from previous measurements.</p>
    <mat-card-content class="dashboard-card-content">
      <ngx-charts-gauge [results]="single" [legend]="false" [legendPosition]="legendPosition" [scheme]="colorScheme" [view]="view">
      </ngx-charts-gauge>
</mat-card-content>
  </div>
</div>

    </mat-card>
    <br/>   