@import "../../../../../assets/styles/index";
mat-tab-group{
   padding: 15px;
   height: 50px;
   width: 85%;
}
h1{
    color: grey;
    font-size: 12px;
}
.duration{
    color: #F4B3B2;
    text-align: center;
}