<div class="tab-container">
  <h1 class="header">Faculties</h1>
<mat-tab-group
  [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event); tabClicked()">
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab"> </mat-tab>
</mat-tab-group>
<nav aria-label="breadcrumb" >
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a>Applications Overview</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{datatitle}}</li>
  </ol>
</nav>
<p class="duration">1 Month 12 Days 17 Hours Until Applications Close</p>
</div>  
