@import "../variables/index";
.mat-drawer {
  background-color: var(--mat-drawer-bg);
  color: var(--mat-drawer-color);

  .mat-list-base .mat-list-item {
    color: var(--mat-drawer-color);
    font-weight: 400;
    font-size: 14px;

    .mat-list-item-content {
      display: inherit;
      padding: 1rem 0.5rem;
      text-align: center;
    }
  }
  .active-link {
    // TODO Implement active route styles.
  }
}
.mat-drawer-container {
  background-color: var(--mat-drawer-container-bg);
}
