<div class="account-bg"></div>
<div class="bg-form">
  <div class="welcome">
    <h1>
      CERBERUS <span>Applications management system</span>
    </h1>
  </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form-label">Email</label>
          <div class="form-input">
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="email"
                [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }" />
              <mat-error *ngIf="f.email.errors && f.email.touched" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <div class="form-input">
            <mat-form-field appearance="outline">
              <input matInput type="password" formControlName="password"
                [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }" />
              <mat-error *ngIf="f.password.errors && f.password.touched" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="form-group form-actions">
          <button mat-button class="button primary" [disabled]="!form.valid">
            <span *ngIf="loading">Logging in...</span>
            <span *ngIf="!loading">Login</span>            
          </button>
        </div>
        <div class="form-group form-errors">
          <p>{{error}}</p>
        </div>
      </form>
</div>
