



<div id="bg-image">

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../../../../assets/images/logo.jpg" width="100"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">

        <!-- <span class="navbar-text">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link">Do you have a profile?</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-success">Request Access</button>
                </li>
              </ul>
        </span> -->
        
      </div>
    </div>
  </nav>
  <div  fxLayout="column">
    
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="center">
        <h1>WELCOME</h1>
        <p>Curate courses and manage applications from one place easily</p>
      </div>

      
    </div>
    <div class="col-md-4">
      <mat-card>
        <p class="log-heard">Log In</p>
        <div fxLayout="column">
          <button class="btn btn-apple" type="button" >SIGN IN WITH APPLE</button>
        </div>
        <br/>
        <div fxLayout="column">
          <button class="btn btn-google" type="button" >SIGN IN WITH GOOGLE</button>
          
        </div>
        <div class="separator">Or</div>
        
        <form class="form-signin" [formGroup]="myForm" >
          <label for="staffNumber">Staff Number</label>
          <div  fxLayout="column">
            
            <mat-form-field appearance="outline" [floatLabel]="'never'" >
              <!-- <mat-icon matPrefix><i class="fas fa-user"></i></mat-icon> -->
              <input  
                type="text"
                matInput
                [formControl]="staffNumber"
                [errorStateMatcher]="matcher"
                id="staffNumber"
              />
              <mat-error
                *ngIf="!staffNumber.hasError('required')"
              >
                Please enter a valid staff number
              </mat-error>
              <mat-error *ngIf="staffNumber.hasError('required')">
                Staff Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div  fxLayout="column">
            <label for="staffNumber" style="text-align: left !important;">Pin</label>
              <mat-form-field appearance="outline">
                <!-- <mat-icon matPrefix><i class="fas fa-lock"></i></mat-icon> -->
                <input 
                  type="password"
                  matInput
                  [formControl]="pin"
                  [errorStateMatcher]="matcher"
                  
                />
                <mat-error
                  *ngIf="!pin.hasError('required')"
                >
                  Please enter a valid pin
                </mat-error>
                <mat-error *ngIf="pin.hasError('required')">
                  Pin is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="input-group">
              <button class="btn btn-login" type="button" (click)="onSubmit()" [disabled]="!myForm.valid" *ngIf="!loading"><b>LOG IN</b></button>
              <button class="btn btn-login" type="button" *ngIf="loading"><b>Logging in...</b></button>
            </div>
            <div class="form-group form-errors">
              <p>{{error}}</p>
            </div>
          </form>
        </mat-card>
      
      
          
      </div>
  </div>









</div> 

