
<div class="charts" *ngIf="dataTitle === 'All'">
  <app-filter-btn></app-filter-btn>
  <br/>
  <div class="row" style="margin: 0;">
    <div class="col-md-4 ">
      <app-gauge-chart></app-gauge-chart>
    </div>
    <div class="col-md-8" *ngIf="dashboardCharts.length > 0" >
       
      <mat-card *ngFor="let item of dashboardCharts">
        <div id="captureBar">
        <span class="date">As at 15/12/2021, 1:03PM</span>
        <div class="dropdown" id="dropdownBar">
          <mat-card-header role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">...</mat-card-header>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" (click)="captureBarGraph();"><i class="fas fa-download"></i></a></li>
          </ul>
        </div>  <br/><br/>
        <div >
        <mat-card-title>APPLICATIONS BY FACULTY</mat-card-title>
        <p class="txt-paragraph">Compare applications by Faculty and view the number of completed applications, incomplete applications or applications missing documentation.</p>
        <app-chart
          [chartType]="item.ChartType"
          [isLegend]="item.isLegend"
          [chartDatasets]="item.chartDatasets"
          [chartLabels]="item.chartLabels"
          [chartColors]="item.chartColors"
          [chartOptions]="item.chartOptions"
          (chartClickedEvent)="chartClicked($event)"
        >
        </app-chart>
      </div>
        </div>
      </mat-card>
    </div>
  </div>
    <br/>
  <app-application-pipeline></app-application-pipeline>
  <br/>

  <div class="row" style="margin: 0;">
    <div class="col-md-6 " >
      <div  *ngIf="dashboardContainer2Charts.length > 0">
        <mat-card *ngFor="let item of dashboardContainer2Charts" style="height:450px !important">
          <div id="captureBar1">
          <span class="date">As at 15/12/2021, 1:03PM</span><br/>
          <div class="dropdown" id="dropdownBar1">
            <mat-card-header role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">...</mat-card-header>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" (click)="captureBarGraph1();"><i class="fas fa-download"></i></a></li>
            </ul>
          </div>
          <mat-card-title>{{item.chartDatasets[0].label}}</mat-card-title>
          <p class="txt-paragraph">Application by course type is very important as it will impact the government subsidies awarded to the institution. It is important to ensure that all course types meet their target capacity.</p>
           <app-chart
          [chartType]="item.ChartType"
          [isLegend]="item.isLegend"
          [chartDatasets]="item.chartDatasets"
          [chartLabels]="item.chartLabels"
          [chartColors]="item.chartColors"
          [chartOptions]="item.chartOptions"
          (chartClickedEvent)="chartClicked($event)"
        >
        </app-chart>
      </div>
        </mat-card>
         

      </div>
    </div>
    <div class="col-md-6 " >
      <div  *ngIf="dashboardContainer20Charts.length > 0" >
        <mat-card *ngFor="let item of dashboardContainer20Charts" style="height:450px !important">
          <div id="captureBar2">
          <span class="date">As at 15/12/2021, 1:03PM</span><br/>
          <div class="dropdown" id="dropdownBar2">
            <mat-card-header role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">...</mat-card-header>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" (click)="captureBarGraph2();"><i class="fas fa-download"></i></a></li>
            </ul>
          </div>
          <mat-card-title>{{item.chartDatasets[0].label}}</mat-card-title>
          <p class="txt-paragraph">This distribution curve shows the quality of student applying to your institution. To ensure the pass rate of the students remains the same, similarly abled students need to be admitted. This graph can also explain and deviations in the previous graph where students may not have the marks required to apply for specific course types.</p>
           <app-chart
          [chartType]="item.ChartType"
          [isLegend]="item.isLegend"
          [chartDatasets]="item.chartDatasets"
          [chartLabels]="item.chartLabels"
          [chartColors]="item.chartColors"
          [chartOptions]="item.chartOptions"
          (chartClickedEvent)="chartClicked($event)"
        >
        </app-chart>
      </div>
        </mat-card>
          <br/>

      </div>
    </div>
    
  </div>
  


  

</div>
<p class="txt-app">APPLICANT DEMOGRAPHICS</p>
<div class="row" style="margin: 0;">
  
  <div class="col-md-4">
    <div *ngIf="dashboardContainer3Charts.length > 0" >
      <mat-card *ngFor="let item of dashboardContainer3Charts" style="height:480px !important">
        <div id="capturePie">
        <span class="date">As at 15/12/2021, 1:03PM</span><br/>
        <div class="dropdown" id="dropdownPie">
          <mat-card-header role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">...</mat-card-header>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" (click)="capturePie();"><i class="fas fa-download"></i></a></li>
          </ul>
        </div>
           <mat-card-title>{{item.chartDatasets[0].label}}</mat-card-title>
          <p class="txt-paragraph">Students demographics are important to maintain as they play an important part in government subsidies as well as adhering to the DHET requirements.</p>
          <mat-card-content class="dashboard-card-content">
            <ngx-charts-pie-chart [results]="single" [labels]="true" [legend]="true" [legendPosition]="legendPosition" [scheme]="colorScheme">
            </ngx-charts-pie-chart>
      </mat-card-content>             
      </div>
       </mat-card>
    </div>
  </div>
  <div class="col-md-4">
    <div *ngIf="dashboardContainer30Charts.length > 0" >
      <mat-card *ngFor="let item of dashboardContainer30Charts" style="height:480px !important">
        <div id="capturePie1">
        <span class="date">As at 15/12/2021, 1:03PM</span><br/>
        <div class="dropdown" id="dropdownPie1">
          <mat-card-header role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">...</mat-card-header>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" (click)="capturePie1();"><i class="fas fa-download"></i></a></li>
          </ul>
        </div>
        <mat-card-title>{{item.chartDatasets[0].label}}</mat-card-title>
        <p class="txt-paragraph">Students demographics are important to maintain as they play an important part in government subsidies as well as adhering to the DHET requirements.</p>
        <mat-card-content class="dashboard-card-content">
          <ngx-charts-pie-chart [results]="gender" [labels]="true" [legend]="true" [legendPosition]="legendPosition" [scheme]="colorScheme">
          </ngx-charts-pie-chart>
       </mat-card-content>
        </div>
      </mat-card>
    </div>
    </div>
  <div class="col-md-4" >
    <div *ngIf="dashboardContainer40Charts.length > 0" >
      <mat-card *ngFor="let item of dashboardContainer40Charts" style="height:480px !important">
        <div id="capturePie2">
        <span class="date">As at 15/12/2021, 1:03PM</span><br/>
        <div class="dropdown" id="dropdownPie2">
          <mat-card-header role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">...</mat-card-header>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" (click)="capturePie2();"><i class="fas fa-download"></i></a></li>
          </ul>
        </div>
        <mat-card-title>{{item.chartDatasets[0].label}}</mat-card-title>
        <p class="txt-paragraph">This graph shows the distribution of applicants by location. Applicants who are located in a different region to the institution may need to be catered for in terms of accommodation.</p>
        <app-chart
       [chartType]="item.ChartType"
       [isLegend]="item.isLegend"
       [chartDatasets]="item.chartDatasets"
       [chartLabels]="item.chartLabels"
       [chartColors]="item.chartColors"
       [chartOptions]="item.chartOptions"
       (chartClickedEvent)="chartClicked($event)"
     >
     </app-chart>
    </div>
    </mat-card>
    <br/>
    </div>
  </div>
</div>

