.sidenav-container {
    height: 100%;
    
  }
  
  .sidenav {
    width: 11.5;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .set-theme {
   padding: 0 1rem;
  }
  .mat-drawer:not(.mat-drawer-side) {
    position: fixed;
}

.mat-drawer-backdrop {
    position: fixed !important;
}
  
