<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar
      ><img src="assets/images/logo.jpg" width="100" style="margin: 0 auto"
    /></mat-toolbar>

    <mat-nav-list>
      <div class="profile">
        <h1>
          Hi, Johanthen Spen!
          <span>Role: Admin</span>
        </h1>
      </div>
    </mat-nav-list>
    <br />
    <mat-nav-list>
      <mat-list-item>
        <a
          routerLink="/analytics"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="assets/images/icons/document.svg" alt="Document svg icon" />
          <p>Applications</p>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/analytics/short-list" routerLinkActive="active-link">
          <img src="assets/images/icons/trophy.svg" alt="Trophy svg icon" />
          <p>Admission Status</p>
        </a>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list class="settings">
      <mat-list-item>
        <div class="set-theme">
          Set Dark&nbsp;
          <mat-slide-toggle [(ngModel)]="dark"> </mat-slide-toggle>
        </div>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/analytics" routerLinkActive="active-link">
          <img src="assets/images/icons/power.svg" alt="Power off svg icon" />
          <p>Log Out</p>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <!-- Add Content Here -->
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
