<!-- <mat-toolbar color="primary" class="home-bg">
  <h1>
    Welcome to the admin portal
    <span> Curate courses and manage applications from one place easily </span>
  </h1>
</mat-toolbar> -->

<app-home-navigation (selectedFaculty)="onSelectedFaculty($event)"></app-home-navigation>
<div class="container-fluid">
  <div class="all" *ngIf="datatitle">
    <h1>{{datatitle}} Applications Overview</h1>
    <app-application-charts [dataTitle]="datatitle" [dashboardDataModel]="currentModel"></app-application-charts>
  </div>
</div>
