/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/index";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-family: Montserrat, sans-serif;
}
.mat-typography h1 {
  font: 400 24px/32px Montserrat, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

/* width */
::-webkit-scrollbar {
  width: 0;
  @media only screen and (max-width: 600px) {
    width: 0;
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ecf0f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
