<div >
  <!-- <div class="btn-group dropstart">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Dropstart
    </button>
    <ul class="dropdown-menu" (click)="$event.stopPropagation()">
      <div class="row" >
        <div class="col-md-3">
          <p>&#9654; Campus</p>
          
        </div>
        <div class="col-md-3">
          <p>&#9654; Faculty</p>
        </div>
        <div class="col-md-3">
          <p>&#9654; Department</p>
        </div>
        <div class="col-md-3">
          <p>&#9654; Course</p>
        </div>
      </div>
    </ul>
  </div> -->
  
    <!-- <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link " data-bs-toggle="pill" aria-current="page" href="#">Day</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#">Week</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="pill">Month</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#" >Year</a>
          </li>
        
      </ul> -->

    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"><i class="fas fa-filter"></i></a>
    
    </p>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <div class="card card-body"style="background-color: grey; color: white;">
            <div class="row" >
              <div class="col-md-3">
                <div class="dropdown" id="dropdownPie2">
                  <p role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span *ngIf="!up" (click)="clickedUp()">&#9660; Campus</span><span *ngIf="up" (click)="clickedUp()">&#9654;  Campus</span></p>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item">
                      <div class="form-check" *ngFor="let campus of campuses">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {{campus.name}}
                        </label>
                      </div>
                    </a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dropdown" id="dropdownPie2">
                  <p role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span *ngIf="!up" (click)="clickedUp()">&#9660; Faculty</span><span *ngIf="up" (click)="clickedUp()">&#9654;  Faculty</span></p>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item">
                      
                    </a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dropdown" id="dropdownPie2">
                  <p role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span *ngIf="!up" (click)="clickedUp()">&#9660; Department</span><span *ngIf="up" (click)="clickedUp()">&#9654;  Department</span></p>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item">
                      
                    </a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dropdown" id="dropdownPie2">
                  <p role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span *ngIf="!up" (click)="clickedUp()">&#9660; Course</span><span *ngIf="up" (click)="clickedUp()">&#9654;  Course</span></p>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item">
                      
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <!-- <div class="card card-body"style="background-color: grey; color: white;">
            <div class="row" >
              <div class="col-md-3">
                <p>&#9660; Campus</p>
                <ul>
                  <div class="form-check" *ngFor="let campus of campuses">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      {{campus.name}}
                    </label>
                  </div>
                    
                </ul> 
              </div>
              <div class="col-md-3">
                <p>&#9660; Faculty</p>
                <ul>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Faculty Name
                    </label>
                  </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Faculty Name
                      </label>
                    </div>
                </ul> 
              </div>
              <div class="col-md-3">
                <p>&#9660; Department</p>
                <ul>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Department Name
                    </label>
                  </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Department Name
                      </label>
                    </div>
                </ul> 
              </div>
              <div class="col-md-3">
                <p>&#9660; Course</p>
                <ul>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Course Name
                    </label>
                  </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Course Name
                      </label>
                    </div>
                </ul> 
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    </div>