#hexagon {
    width: 80px;
    height: 80px;
    border: 10px solid #84A59D;
    position: relative;
    border-radius: 50%;
   
  }
  
  #hexagon::after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #84A59D;
    position: absolute;
    content: "";
    top: 68px;
    left: 20px;
  }
  // #hexagon::before {
  //   content: "";
  //   position: absolute;
  //   right: -41px;
  //   bottom: 16px;
  //   width: 0;
  //   height: 0;
  //   border-left: 14px solid grey;
  //   border-top: 7px solid transparent;
  //   border-bottom: 7px solid transparent;
  // }
  #hexagon p{
    padding: 20px;
      text-align: center;
  }
  .mat-card {
    // border-radius: 20px;
   //  width: 80%;
     text-align:center;
    // margin: 0 auto;
 }
 .box{
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip:padding-box;
  }
  .row2{
      padding: 25px;
  }
.row1{
  padding: 61px;
    top: 81px;
    right: 27px;
    font-size: 12px;
}
.col-form-label{
  background-color: grey;
  color: white;
}
.navbar-brand{
  color: #5F9547 !important;
  font: normal normal normal 20px/24px Montserrat !important;
  opacity: 1 !important;
  letter-spacing: 0px !important;
  text-align: left !important;
  font-size: 15px !important;
  text-transform: uppercase;
}
.txt-paragraph{
  font-size: 12px;
  width: 80%;
  text-align: left !important;
}
.form-inline .form-group {
  width: 480px;
}
.col1{
  text-align: left;
}
.col2{
  text-align: center;
  margin-right: -25px;
}