<mat-card>
  jhqdhbdqadbhjdbndqan

  <div class="row row1">
    <div class="col">
     Appication Info
    </div>
    <div class="col">
      Qualifying Details
    </div>
    <div class="col">
      Aditional Application Info
      
    </div>
    <div class="col">
      Next of Kin and Account Payer Info
      
    </div>
    <div class="col">
      Accomodation Info
      
    </div>
    <div class="col">
      Check and Confirm
      
    </div>
    <div class="col">
      Finish
      
    </div>
  
    
  </div>
    <div class="row row2">
      <div class="col">
        <div id="hexagon">
          <p>1</p>
          
        </div>
        
      </div>

      <div class="col">
        <div id="hexagon">
          <p>2</p>
        </div>
      </div>
      <div class="col">
        <div id="hexagon">
          <p>3</p>
        </div>
      </div>
      <div class="col">
        <div id="hexagon">
          <p>4</p>
        </div>
      </div>
      <div class="col">
        <div id="hexagon">
          <p>5</p>
        </div>
      </div>
      <div class="col">
        <div id="hexagon">
          <p>6</p>
        </div>
      </div>
      <div class="col">
        <div id="hexagon">
          <p>7</p>
        </div>
      </div>
    
      
    </div>
      
      <br>
    <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [legend]="chartOptions.legend"
          [fill]="chartOptions.fill"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [xaxis]="chartOptions.xaxis"
        ></apx-chart>
      </div>
    </mat-card>
      