

<mat-card id="card">
  <div id="captureApp">

  <span class="date">As at 15/12/2021, 1:03PM</span>
  <div class="dropdown" id="dropdownPipe">
    <mat-card-header role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">...</mat-card-header>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" (click)="captureScreen();"><i class="fas fa-download"></i></a></li>
    </ul>
  </div>
  <nav class="navbar navbar-expand-lg">
    

    <a class="navbar-brand" id="card">Application pipeline</a>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="#">Application  <span class="sr-only">(current)</span></a> -->
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
        </li>
        <li class="nav-item dropdown">
          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a> -->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-6 col-form-label">Filter by faculty:</label>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example">
              <option selected>Select</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </nav>
  <p class="txt-paragraph" id="card">View where your applications are sitting in your application pipeline. Too many students stuck on a section may require intervention. The goal is to get applicants through the process as quickly and easily as possible to ensure quality applications.</p>
  <div class="row row2">
    <div class="col">
      <div id="hexagon">
        <p>1</p>
        
      </div>
      
    </div>

    <div class="col">
      <div id="hexagon">
        <p>2</p>
      </div>
    </div>
    <div class="col">
      <div id="hexagon">
        <p>3</p>
      </div>
    </div>
    <div class="col">
      <div id="hexagon">
        <p>4</p>
      </div>
    </div>
    <div class="col">
      <div id="hexagon">
        <p>5</p>
      </div>
    </div>
    <div class="col">
      <div id="hexagon">
        <p>6</p>
      </div>
    </div>
    <div class="col last">
      <div id="hexagon">
        <p>7</p>
      </div>
    </div>
  
    
  </div> 
    <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [legend]="chartOptions.legend"
          [fill]="chartOptions.fill"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [xaxis]="chartOptions.xaxis"
        ></apx-chart>
      </div>

        
  <div class="row row1">
    <div class="col col1">
     Application Info
    </div>
    <div class="col col1">
      Qualifying Details
    </div>
    <div class="col col3">
      Additional Application Info
      
    </div>
    <div class="col col4">
      Next of Kin and Account Payer Info
      
    </div>
    <div class="col col5">
      Accomodation Info
      
    </div>
    <div class="col col6">
      Check and Confirm
      
    </div>
    <div class="col col2">
      Finish
      
    </div>
  
    
  </div>
</div>  
      
    </mat-card>
